<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProvinceMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ProvinceMapper.Properties.Settings>
      <setting name="srcMapFolder" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\Crusader Kings II\map</value>
      </setting>
      <setting name="destMapFolder" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\Europa Universalis IV\map</value>
      </setting>
      <setting name="srcTag" serializeAs="String">
        <value>ck2</value>
      </setting>
      <setting name="destTag" serializeAs="String">
        <value>eu4</value>
      </setting>
      <setting name="mappingFile" serializeAs="String">
        <value>C:\MyProjects\paradoxGameConvertersForks\CK2ToEU4\CK2ToEU4\Data_Files\configurables\provinces.txt</value>
      </setting>
      <setting name="fitMaps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="namesFrom" serializeAs="String">
        <value>Localization</value>
      </setting>
      <setting name="invertSource" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="invertDest" serializeAs="String">
        <value>False</value>
      </setting>
    </ProvinceMapper.Properties.Settings>
  </userSettings>
</configuration>